.idea/
venv/
log2/
log_/
log3/
*.log
LogAnalyzer/con.json
LogAnalyzer/con.jSon
LogAnalyzer/co.txt
LogAnalyzer/draft.py
LogAnalyzer/draft2.py
LogAnalyzer/myreport.html
LogAnalyzer/reports
LogAnalyzer/__pycache__/
LogAnalyzer/log/nginx-access-ui.log-20200701
